html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#root {
  height: 100%;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 1rem;
  margin: 0;
}

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

.MuiBackdrop-root {
  background-color: rgba(20, 23, 86, 0.9) !important;
}
